/* Reset */
* {
  margin: 0;
  padding: 0;
}

body{
     font-family: 'Inter', sans-serif;
     color: #F5E9D3;
}

h1 {
  font-family: 'Playfair Display', serif;
  color: #F5E9D3; 
}


.header11{
    background-color: #6E2F2F;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

nav a{
    background-color:#F5E9D3 ;
    text-decoration: none;
    color: #2B2B2B;
    border-radius: 20px;
    margin: 4px;
    padding: 8px;
    
}
nav{
    justify-content: center;
    text-align: center;
    padding-left: 27%

}
.giris{
    
    padding: px;
    border-radius: 20px;
}
.ss{
    
    background-color: #502222;
    color: #F5E9D3;
}